APP_NAME=FastAPI Test
APP_DESCRIPTION=FastAPI test application
APP_VERSION=0.1.0
ENVIRONMENT=local
DEBUG=false
API_PREFIX=/api/v1
LOG_LEVEL=INFO
HOST=127.0.0.1
PORT=8000
IMAGE_NAME=hjestaedt.dev/fastapi-test
