APP_NAME=FastAPI template
APP_DESCRIPTION=FastAPI template
APP_VERSION=0.1.0
ENVIRONMENT=local
DEBUG=false
LOG_LEVEL=INFO
API_PREFIX=/api/v1
HOST=127.0.0.1
PORT=8000
IMAGE_NAME=hjestaedt.dev/fastapi-template
